.course-upload {
    position: relative;
    max-width: 420px;
    margin: 50px auto;
}

.course-upload .course-edit {
    position: absolute;
    right: -90px;
    z-index: 1;
    top: -12px;
}

.course-upload .course-edit input {
    display: none;
}

.course-upload .course-edit input+label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #ffffff;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}

.course-upload .course-edit input+label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}

.course-upload .course-edit input+label:after {
    content: "\f040";
    font-family: "FontAwesome";
    color: #757575;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}

.course-upload .course-preview {
    width: 500px;
    height: 360px;
    position: relative;
    border: 6px solid #f8f8f8;
    box-shadow: 0px 2px 4px 0px rgba(80, 37, 37, 0.3);
}

.course-upload .course-preview>div {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}