.login-wrp {
    margin: 84px 0;
    display: flex;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.login-container {
    width: 400px;
}

.btn_1:focus {
    outline: none;

}

.login__title {
    font-size: 1.1rem;
    font-weight: bold;
    border-bottom: 2px solid #a0a0a0;
    margin-bottom: 16px;
}